* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  nav {
    text-align: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 100;
    border-top: 5px solid #ec1d25;
  }
  nav .pato {
    margin-top: 15px;
  }
  nav .main {
    list-style: none;
    display: flex;
  }
  nav .main li {
    margin-top: 20px;
    margin: 30px;
  }
  nav .main li a {
    color: #222222;
    text-decoration: none;
  }
  nav .sosial-flex {
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
  }
  nav .sosial-flex a {
    color: #222222;
    margin: 10px;
  }
  
  #yazi {
    margin-top: 100px;
    padding: 20px;
  }
  #yazi .container {
    background-color: white;
    justify-content: space-between;
    display: flex;
    width: 80%;
  }
  #yazi .container .card {
    text-align: center;
  }
  #yazi .container .card h1 {
    color: #ec1d25;
    margin-top: 40px;
  }
  #yazi .container .card h2 {
    margin-top: 20px;
  }
  #yazi .container .card h4 {
    margin-top: 20px;
  }
  
  #carousel {
    color: black;
    width: auto;
    height: 600px;
  }
  #discover{
    margin-bottom: 20px;
    padding: 70px;
    height: 300px;
    text-align: center;
    background-image: url(../img/bg-intro-01.jpg); 
  }
  .disc{
    top: 50%;
    font-size: 30px;
    margin-top: 30px;
    color: red;
  }
  .pato1{
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 6px;
  }
.row{
    text-align: start;
    display: flex;
    margin: 0 20px;
    padding: 30px;
}
.row h3{
    margin-top: 25px;
}
.row a{
    color: #222222;
    text-decoration: none;
}
.row1{
    margin: 0;
    padding: 0;
}
.item {
    margin-bottom: 20px;
}
.col-md-12{
    padding-top: 10px;
}
#form{
    width: 100%;
    height: 200px;
    display: flex;
background-color: #EFEFEF;

}
.form-inline{
    justify-content: center;
    align-items: center;
    height: 200px;
    
    width: 100%;
    display: flex;
    button{
        background-color:  black;
    }
}
.form1{
    width: 100%;
    height: 200px;
    color: black;
}
#form11{
    width: 100%;
    height: 100%;
    display: flex;
color: #959799;
    background-color: #222222;
}
.bg1 h4{
    color: white;
}
#grid{background-color: #F5F2EC;}
#slider4 .carousel-caption h3{
    color: red;
    margin-top:     -170px;
    font-size: 25px;
}
#slider4 .carousel-caption h1{
    margin: -30px;
    font-size: 55px;
}
#slider4 .carousel-caption .event{
    display: flex;
    margin: 60px;
}
#slider4 .carousel-caption .event .imgevent{
    
    max-height: 300px;
} 
.container1 {
    background-color: white;
    justify-content: space-around;
    display: flex;
    margin-top: 40px;
    width: 100%;
    font-size: 10px;
  } 
  
 .container1 .card1{
    padding: 20px;
    margin-top: 30px;
    color: black;
    text-align: center;
}
.card1 h1{
    color: red;
    display: flex;
    font-size: 10px;
}
.card1 h2{
    margin-top: 40px;
}
.card1 p{
    font-size: 12px;
    margin-top: 20px;
}
#reservation{
    background-color: #EFEFEF;
    padding-left: 150px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#reservation .container0{
    width: 50%;
    text-align: center;
}
#reservation .container0 h2{
    margin-top: 20px;
    color: red;
}
#reservation .booking{
    margin-top: 30px;
}
.container4{
    ;
    margin-top: 30px;
    width: 100%;
    height: 700px;
    background-color: white;
    h3{
        margin-top: 0px;
        color: black;
        margin-top: -30px;
    }
    h4{
        color: red;
        margin: 10px;
        
    }
}
.carousel-control-next-icon {
    background-color: black;
    border: 2px solid black; 
    border-radius: 50%;
    padding: 5px; /* İkon etrafındaki boşluğu ayarlar */
}
.carousel-control-prev-icon {
    background-color: black;
    border: 2px solid black; 
    border-radius: 50%;
    padding: 5px;
}
.container4{
    text-align: center;
}
.container4 .avatar{
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ec1d25;
}
.container4 p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: black;
}
#video{
    margin-bottom: 20px;
    padding: 70px;
    height: 800px;
    text-align: center;
    background-image: url(../img/bg-cover-video-02.jpg);
}
.disc1{
    color: red;
}
.pato2{
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 6px;
}
#video .our{
    font-size: 40px;
   margin-top: 270px;
}
#video .our .disc1 {
    font-size: 30px;
}

#play-button {
    background-color: white;
    border: none;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 0.4s;
}

#play-button:hover {
    background-color:red;
}
